@import '../../../styles/variables';
@import '../../../styles/mixins';

.Header {
    tr {
        th {
            padding: 13px;
            span {
                color: var(--neutral-color-90) !important;
            }
            &:first-child {
                padding-left: 23px;
            }
        }
    }
}

.Pagination {
    min-height: 40px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: $grid-gutter * 0.5 !important;
    padding-bottom: $grid-gutter * 0.5 !important;

    & > div {
        padding-left: 0;
        justify-content: flex-end;
        position: relative;
    }

    div[class*='MuiTablePagination-spacer'],
    p[class*='MuiTablePagination-displayedRows'] {
        display: none;
    }

    p[class*='MuiTablePagination-selectLabel'] {
        position: absolute;
        margin: 0;
        color: var(--text-color-primary);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 1.4em;
    }

    div[class*='MuiInputBase-root'] {
        position: absolute;
        color: var(--text-color-primary);
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 100px;
    }

    *[class*='MuiSelect-icon'] {
        color: currentColor !important;
    }
}

@include media-breakpoint-up(md) {
    .Header {
        tr {
            th {
                padding: $grid-gutter * 0.5;
            }
        }
    }

    .Pagination {
        padding-left: $grid-gutter * 0.5 !important;
        padding-right: $grid-gutter * 0.5 !important;
        padding-top: 15px !important;
        padding-bottom: $grid-gutter * 0.5 !important;

        & > div {
            justify-content: center;
        }
    }
}
