.Root {
    width: 24px;
    height: 24px;
    fill: none;

    path {
        stroke: currentColor;
        stroke-opacity: 0.64;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}
