[*]
end_of_line = lf
insert_final_newline = true

[*.{ts,tsx,js,scss}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{md}]
max_line_length = off
trim_trailing_whitespace = false