@import '../../styles/variables';
@import '../../styles/mixins';

.Root {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Key {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    path {
        fill: var(--text-color-primary);
    }
}

.Text {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    color: var(--text-color-primary);
}

.Arrow {
    margin-left: 4px;
    color: var(--text-color-primary);
}

@include media-breakpoint-up(md) {
    .Key {
        margin-right: 14px;
    }

    .Text {
        font-size: 0.9375rem;
    }

    .Arrow {
        margin-left: 2px;
    }
}
