@import '../../styles/variables';
@import '../../styles/mixins';

.SocialShare {
    display: flex;
    align-items: center;
    .RecommendLabel {
        display: none;
        margin-right: 5px;
        font-size: 15px;
        opacity: 0.64;
    }
    .Icon {
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            path {
                fill: var(--text-color-secondary);
            }
        }
        path {
            fill: var(--text-color-tertiary);
        }
    }
}

@include media-breakpoint-up(md) {
    .SocialShare {
        .RecommendLabel {
            display: block;
        }
        .Icon {
            margin: 0 0 0 0.25rem;
        }
    }
}
