@import '../../../styles/variables';
@import '../../../styles/mixins';

.Root {
    padding: $grid-gutter * 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
}

.Title {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .Icon {
        display: inline-block;
        line-height: 0;
        color: var(--text-color-primary);
        background-color: transparent;
        margin-right: 10px;
    }

    .Text {
        font-size: 1.0625rem;
        font-weight: 600;
        line-height: 1.4em;
        text-align: left;
        color: var(--text-color-primary);
    }
}

.IconMark {
    font-size: 24px;

    &.Success {
        color: var(--success-color-main);
    }

    &.Failed {
        color: var(--error-color-main);
    }
}

.ValueToday {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.4em;
    color: var(--text-color-secondary);
    text-align: center;

    .Amount {
        font-size: 1.375rem;
        font-weight: 600;
        color: var(--text-color-primary);

        sup {
            font-weight: inherit;
            font-size: 0.75rem;
            line-height: 1em;
        }
    }
}

.ValueToday {
    &.Drawdown {
        .Amount {
            color: var(--error-color-main);
        }
    }
}

@include media-breakpoint-up(md) {
    .Root {
        align-items: stretch;
    }

    .Title {
        .Text {
            font-size: 0.9375rem;
        }
    }

    .ValueToday {
        font-size: 0.8125rem;

        .Amount {
            font-size: 1.0625rem;

            sup {
                font-size: 0.55rem;
            }
        }
    }
}
