.Svg {
    width: 22px;
    height: 22px;
}

.Empty {
    fill: var(--text-color-primary);
}

.Weak {
    fill: var(--error-color-main);
}

.Normal {
    fill: var(--warning-color-main);
}

.Strong {
    fill: var(--success-color-main);
}
