@import '../../styles/variables';
@import '../../styles/mixins';

.Root {
    padding: 0;
    overflow: hidden;
}

.Preview {
    min-height: 130px;
    display: block;
    width: 100%;
    padding: $grid-gutter * 0.5 16px;
    .Heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .Expand {
            font-size: 1.875rem;
        }
    }

    .Body {
        width: 100%;
        padding: $grid-gutter * 0.5 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.Details {
    padding: $grid-gutter * 0.5 16px;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
}

.Middle {
    overflow: hidden;
    width: 100%;
    padding-top: $grid-gutter;
    padding-bottom: $grid-gutter * 0.5;
}

.Bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
}

.Label {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: var(--text-color-primary);
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.4em;
    text-align: center;
    color: var(--neutral-color-0);
    flex-grow: 0;
    flex-shrink: 0;
}

.Period {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: $grid-gutter * 0.5;
    padding-right: $grid-gutter * 0.5;
    text-align: left;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.4em;
    color: var(--text-color-tertiary);
}

.Step {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.4em;
    color: var(--text-color-tertiary);

    span {
        font-size: 1.25rem;
        line-height: 1.4em;
        font-weight: 600;
        color: var(--text-color-primary);
    }
}

.EndDate {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.4em;
    color: var(--text-color-tertiary);
    text-align: center;

    span {
        font-weight: 600;
        color: var(--text-color-primary);
    }
}

.TimeFrame {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4em;
    color: var(--text-color-tertiary);
    text-align: center;
}

.Graph {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@include media-breakpoint-up(md) {
    .Root {
        padding: $grid-gutter * 0.5;
        min-height: 201px;
    }

    .Bottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .Label {
        font-size: 0.9375rem;
    }

    .Period {
        font-size: 0.9375rem;
    }

    .EndDate {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.9375rem;
    }

    .TimeFrame {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.8125rem;
    }

    .Graph {
        margin: 0 auto;
        width: 100%;
    }
}
