@import '../../styles/variables';
@import '../../styles/mixins';

.Root {
    padding: 10px 20px;
}

.ChallengeID {
    margin-top: 0;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        font-weight: 400;
        color: var(--text-color-primary);
        line-height: 1.4em;
        &:first-child {
            text-align: left;
            font-size: 0.8125rem;
        }

        &:last-child {
            text-align: right;
            font-size: 0.9375rem;
        }
    }
}

.Credential {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    & > span {
        &:first-child {
            flex-grow: 2;
            flex-shrink: 2;
            width: 100%;
            font-weight: 400;
            color: var(--text-color-primary);
            line-height: 1.4em;
            text-align: left;
            font-size: 0.8125rem;
        }
        &:nth-child(2) {
            flex-grow: 1;
            flex-shrink: 1;
            font-weight: 500;
            color: var(--text-color-primary);
            line-height: 1.4em;
            text-align: left;
            font-size: 0.9375rem;
        }
    }
}

.Copy {
    position: relative;
    margin-top: -8px;
}

.Download {
    text-align: right;
}

.CopyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.ChallengeIDList {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.CredentialList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ButtonWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer {
    margin-top: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 0 !important;
}

@include media-breakpoint-up(md) {
    .CopyWrapper {
        width: 50%;
    }
}
