.Root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
}

.TitleHolder {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: -4px;
}

.Title {
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.4em;
    text-align: left;
    color: var(--text-color-primary);
}

.KeyIcon {
    margin-right: 10px;
    path {
        fill: var(--secondary-color-main);
    }
}

.CloseButton {
    margin-top: -4px;
    margin-right: -8px;
}
