@import '../../styles/variables';
@import '../../styles/mixins';

.Wrapper {
    & > div {
        border-radius: 8px;
        border: 1px solid var(--neutral-color-70);
        overflow: hidden;
        &::after,
        &::before {
            display: none;
        }
    }

    input {
        font-size: 1.25rem;
        height: 1em;
        color: var(--text-color-primary) !important;

        &[class*='Mui-disabled'] {
            border-color: var(--neutral-color-70);
            background-color: var(--neutral-color-40) !important;
            -webkit-text-fill-color: inherit;
            color: var(--text-color-quaternary) !important;
        }
    }

    label {
        &[data-shrink='false'] {
            color: var(--text-color-tertiary);
        }
        &[data-shrink='true'] {
            color: var(--text-color-quaternary);
        }
        &[class*='Mui-error'] {
            color: var(--error-color-main);
        }
        &[class*='Mui-focused'] {
            color: var(--info-color-focus);
        }
    }

    p[class*='Mui-error'] {
        color: var(--error-color-main) !important;
    }

    div {
        &[class*='Mui-error'] {
            border-color: var(--error-color-border);
        }
        &[class*='Mui-focused'] {
            border-color: var(--info-color-focus);
        }
        &[class*='Mui-disabled'] {
            border-color: var(--neutral-color-70);
            background-color: var(--neutral-color-40) !important;
        }
    }

    .CheckMark {
        path {
            fill: var(--success-color-main);
        }
    }
}

@include media-breakpoint-up(md) {
    .Wrapper {
        input {
            font-size: 1.0625rem;
            padding-top: 31px;
            padding-bottom: 15px;
        }

        label {
            line-height: 2em;
        }
    }
}
