@import '../../../styles/variables';
@import '../../../styles/mixins';

.Root {
    overflow: visible !important;
}
.Skeleton {
    width: 100%;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .Header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Body {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@include media-breakpoint-up(md) {
    .Skeleton {
        min-height: 165px;
        justify-content: space-between;
        align-items: stretch;

        .Body {
            position: relative;
            display: flex;
        }

        .Footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}
