@import '../../../styles/variables';
@import '../../../styles/mixins';

.IconButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    transition: background-color ease 0.3s;

    &:hover {
        background-color: var(--neutral-color-50);
    }
}
