@import '../../styles/variables';
@import '../../styles/mixins';

.Root {
    display: block;
    height: 100%;
}

.Top {
    font-weight: 600;
    text-align: left;
    color: var(--text-color-primary);
    font-size: 1.0625rem;
    line-height: 1.35em;
    padding-bottom: $grid-gutter * 0.69;
}

.Bottom {
    p {
        margin-top: 0;
        margin-bottom: $grid-gutter * 0.5;
        color: var(--text-color-primary);
        text-align: left;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 1.58em;
    }
}

.Form {
    width: 100%;
}

.FormGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .Button {
        margin-top: $grid-gutter * 0.5;
    }
    .Icon {
        margin-right: 10px;
    }
}

@include media-breakpoint-up(md) {
    .Top {
        font-size: 1.0625rem;
        line-height: 1.35em;
        padding-bottom: $grid-gutter * 0.55;
    }

    .Bottom {
        padding-left: $grid-gutter * 0.69;
        padding-right: $grid-gutter * 0.69;
        padding-bottom: $grid-gutter * 0.69;

        p {
            margin-bottom: $grid-gutter;
            font-size: 1rem;
            line-height: 1.375em;
        }
    }

    .Form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .FormGroup {
        flex-direction: row;
        align-items: center;
        border: '1px solid red';

        *[class*='MuiFormControl-root'] {
            flex: 1;
        }

        .Button {
            margin-top: 0;
            margin-left: $grid-gutter * 0.5;
            min-width: initial;

            button {
                height: 65px;
                border-radius: 33px;
                min-width: initial;
            }
        }
    }
}
